{% extends "master.html.twig" %}

{% block title %}{{a.classname}}{% endblock %}

{% block content %}
    <div id="centerArticle">
        <h1 class="centered">{{a.classname}}</h1>
        <hr>
        <i>Posted by {{a.username}}</i>  
        <hr>
        <div class="body">{{a.body|raw}}</div>
        <hr>
        {% if userSession['userid'] == a.userid %} <!-- FIXME: Need to impliment system to allow user to change body -->
            <form method="get" action="/edit_class/{{a.classid}}" >
                <input type="submit" value="Edit Class">
            </form>
        {% endif %}
        {% if userSession %}
        <form method="get" action="/create_lesson/{{a.classid}}" >
            <input type="submit" value="Add Lesson">
        </form>
        {% endif %}

    </div>
        <div class="comments">
        {% if userSession %}
            <div class="commentForm">
                <form method="post">
                <p>Add your Comments:</p>
                <textarea name="body" cols="100" rows="5">{{c.body}}</textarea>
                </br>
                <input type="submit" value="Add Comment">
                </form>
            </div>
            {% if commentsList %}
                {% for co in commentsList %}
                    <div class="commentBody">
                        <span class="commentAuthorInfo"><a href="/profile/{{co.userid}}">{{co.username}}</a> said on {{co.date}}</span>
                        <hr>
                        <div>{{co.body}}</div>
                    </div>
                {% else %}
                    <span>Be the first to leave a comment!</span>
                {% endfor %}
            {% endif %}
        {% else %}
                <p><a href="/login">Login</a> to see comments!</p>
        {% endif %}
        </div>
        </br>
        <p><a href="/">Back to Home</a></p>
{% endblock %}