{% extends "master.html.twig" %}

{% block title %}{{a.classname}}{% endblock %}

{% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#create_lesson').click(function() {
                var classname = $('h1[class=centered]').text();
                $.ajax({ url: "/cancreatelesson/" + classname });
                alert("Cats");
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div id="centerArticle">
        <h1 class="centered">{{a.classname}}</h1>
        <hr>
        <i>Posted by {{a.username}}</i>  
        <hr>
        <div>{{a.body|raw}}</div>
        <hr>
        {% if userSession %}
            <div class="commentForm">
                <form method="post">
                Add your Comments:
                </br>
                <textarea name="body">{{c.body}}</textarea>
                </br>
                <input type="submit" value="Add Comment">
                </form>
            </div>
            <p id="create_lesson">Create Lesson<p>
        {% endif %}
        {% if commentsList %}
        <div class="comments">
            {% for co in commentsList %}
            <div class="commentBody">
                </hr>
                <span class="commentAuthorInfo"><a href="/profile/{{c.userid}}">{{c.username}}</a> said on {{co.date}}</span>
                </hr>
                <div>{{co.body}}</div>
            </div>
            {% endfor %}
        {% endif %}
        </div>
        <p><a href="/">Back to Home</a></p>
    </div>
{% endblock %}