{% extends "master.html.twig" %}

{% block title %}Edit {{a.classname}}{% endblock %}

{% block head %}
    <script src="https://cdn.tiny.cloud/1/yx221jipemynm4x8srme552b09rohbtuufv2pg1l2gyxje11/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>tinymce.init({selector:'textarea'});</script>
{% endblock %}

{% block content %}
    <div id="centerArticle">
        <h1 class="centered">{{a.classname}}</h1>
        <hr>
        <i>Posted by {{a.username}}</i>  
            <hr>
        {% if userSession['userid'] == a.userid %}
        <form method="post" id="classForm">
            <p><label for="body">Class Description:</label></p>
            <textarea name="body">{{a.body}}</textarea>
            </br>
            <input type="submit" value="Save Edit">
        </form>
        <form action="/delete_class/{{a.classid}}">
            <input type="submit" value="Delete">
        </form>        
        <br>
        {% endif %}
    </div>
    {% if commentsList %}
        <div class="comments">
        {% for co in commentsList %}
            <div class="commentBody">
                <span class="commentAuthorInfo"><a href="/profile/{{co.userid}}">{{co.username}}</a> said on {{co.date}}</span>
                <hr>
                <div>{{co.body}}</div>
            </div>
            {% endfor %}
        </div>
        {% else %}
            <span>Be the first to leave a comment!</span>
        </div>
    {% endif %}
{% endblock %}