{% extends "master.html.twig" %}

{% block title %}Main Page{% endblock %}

{% block content %}
    {% for c in list %}
    <div class="class">
        <h1><a href="/class/{{c.classid}}">{{c.classname}}</a></h1>
        <span>Created by <a href="/profile/{{c.userid}}">{{c.username}}</a></span>
        <p>{{c.body|raw}}</p>
    </div>
    <br>
    {% endfor %}
{% endblock %}