{% extends "master.html.twig" %}

{% block title %}{{l.title}}{% endblock %}

{% block content %}
        <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="class/{{c.classid}}">{{c.classname}}</a></li>
            <li><a href="class/{{l.lessonid}}">{{l.title}}</a></li>
        </ul>
    <div id="centerArticle">
        <h1 class="centered">{{l.title}}</h1>
        <hr>
        <i>Posted by <a href="/profile/{{c.userid}}">{{c.username}}</a></i>
        <hr>
        <div class="body">{{l.body|raw}}</div>
        <hr>
        {% if userSession['userid'] == a.userid %}
            <form method="get" action="/edit_lesson/{{l.lessonid}}" >
                <input type="submit" value="Edit Lesson">
            </form>
        {% endif %}
    </div>
{% endblock %}