{% extends "master.html.twig" %}

{% block title %}{{u.username}}{% endblock %}

{% block head %}
    <script src="https://cdn.tiny.cloud/1/yx221jipemynm4x8srme552b09rohbtuufv2pg1l2gyxje11/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>tinymce.init({selector:'textarea'});</script>
{% endblock %}

{% block content %}
    <h1>{{u.username}}'s Profile</h1>
    <hr>
    <!-- WIP:
    Password Change
    Profile Picture
    Change name?
    -->
    {% if errorList %}
        <ul class="errorMessage">
        {% for error in errorList %}
            <li>{{error}}</li>
        {% endfor %}
        </ul>
    {% endif %}
    <!-- USER is logged in to this account -->
    {% if userSession['userid'] == u.userid %}
        {% if u.bio == NULL %}
            <h2>No Bio created</h2>
            <form method="post" id="classForm">
                <p><label for="body"><strong>Write your Bio:</strong></label></p>
                <textarea name="body" cols="60" rows="10">{{u.bio}}</textarea>
                <p><input type="submit" value="Upload Bio"></p>
            </form>
        {% else %}
            <div class="class">{{u.bio|raw}}</div>
                <form method="post" id="classForm">
                    <p><label for="body"><strong>Update your Bio:</strong></label></p>
                    <textarea name="body" cols="60" rows="10">{{u.bio}}</textarea>
                    <p><input type="submit" value="Update Bio"></p>
                </form>
            <h2>Top 5 Classes:</h2>
                {% for cl in classes %}
                    <div class="top5">
                        <a href="/class/{{cl.classid}}"><h4>{{cl.classname}}</h4></a>
                        <p>{{cl.body|raw}}</p>
                    </div>
                {% endfor %}
            <br class="break">
            <h2>Top 5 Lessons:</h2>
                {% for l in lessons %}
                    <div class="top5">
                        <a href="/lesson/{{l.lessonid}}"><h4>{{l.title}}</h4></a>
                        <p>{{l.body|raw}}</p>
                    </div>
                {% endfor %}
            <br class="break">
            <h2>Top 5 Comments:</h2>
                {% for co in comments %}
                    <div class="top5">
                        <a href="/lesson/{{l.lessonid}}"><h4>{{co.body|raw}}</h4></a>
                        <p>{{l.body|raw}}</p>
                    </div>
                {% endfor %}
        {% endif %}
            <br class="break">
            <h2>Change Password:</h2>
            <p>
                <form method="post">
                    <label for="pass1">Current Password</label>
                    <br>
                    <input type="password" name="pass" placeholder="**********">
                    <br>
                    <label for="pass1">New Password</label>
                    <br>
                    <input type="password" name="pass1" placeholder="**********">
                    <br>
                    <label for="pass2">New Password (repeated)</label>
                    <br>
                    <input type="password" name="pass2" placeholder="**********">
                    <br>
                    <input type="submit" value="Change Password">
                </form>
            </p>
    {% else %}
        {% if u.bio == NULL %}
            <h2>No Bio created</h2>
        {% else %}
            <div class="class">{{u.bio|raw}}</div>
        {% endif %}
            <h2>Top 5 Classes:</h2>
                {% for cl in classes %}
                    <div class="top5">
                        <a href="/class/{{cl.classid}}"><h4>{{cl.classname}}</h4></a>
                        <p>{{cl.body|raw}}</p>
                    </div>
                {% endfor %}
            <br class="break">
            <h2>Top 5 Lessons:</h2>
                {% for l in lessons %}
                    <div class="top5">
                        <a href="/lesson/{{l.lessonid}}"><h4>{{l.title}}</h4></a>
                        <p>{{l.body|raw}}</p>
                    </div>
                {% endfor %}
            <br class="break">
            <h2>Top 5 Comments:</h2>
                {% for co in comments %}
                    <div class="top5">
                        <a href="/"><h4>{{co.body|raw}}</h4></a> <!--FIXME: Link to comment location -->
                    </div>
                {% endfor %}
    {% endif %}
{% endblock %}